*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.bg-white {
  background-color: #fff;
}
.bg-azul {
  background-color: #318ba2;
}
.bg-azul-claro {
  background-color: #32cfd6;
}
.navbar {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__contact {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 50px;
}
.navbar__logo-wa {
  width: 40px;
}

.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.text {
  margin-top: 1rem;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}

.label {
  position: relative;

  margin-top: 1rem;
}
.label__input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 2.5rem;
}

.label__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 50%;
  text-transform: uppercase;
  color: #32cfd6;
}

.d {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 2rem;
}

.efecto {
  position: relative;
  overflow: hidden;
}

.card {
  text-align: center;
  padding: 2rem 0;
}

.efecto::before {
  content: "";
  position: absolute;
  background-color: #318ba2;
  width: 100%;
  height: 50px;
  z-index: 10;
  top: 74px;
  left: 0;
}

.card__image img {
  border-radius: 100%;
  z-index: 20;
  position: relative;
}
